<!DOCTYPE html>
<html ng-app="qa">
<head>
    <title>Test Project "Q&A Service"</title>
    <meta charset="utf-8">
    <link href="/assets/css/base.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <base href="/">
</head>
<body ng-controller="qaController">
	<div ng-show="!authorized" class="splash-screen">
		<div class="container">
			<form class="sign-in">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="user.name" ng-enter="authorized = user.name.length" placeholder="Введите ваше имя">
				</div>
				
				<input class="btn btn-default" type="button" value="Привет" ng-click="authorized = user.name.length">
			</form>
		</div>
	</div>

	<div ng-show="authorized">
		<header>
			<menu></menu>
			<div class="container">
				<h4>Привет, {{user.name}}!</h4>
			</div>
		</header>

		<div ui-view class="wrapper"></div>
	</div>

<!--Vendor-->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap.js"></script>

<!--App-->
<script src="/app.js"></script>
<script src="/app.router.js"></script>

<!--Modules-->
<script src="/modules/home/home.module.js"></script>
<script src="/modules/home/home.controller.js"></script>

<script src="/modules/question/question.module.js"></script>
<script src="/modules/question/question.controller.js"></script>

<script src="/modules/newQuestion/newQuestion.module.js"></script>
<script src="/modules/newQuestion/newQuestion.controller.js"></script>

<!--Directives-->
<script src="/common/directives/menu/menu.directive.js"></script>

</body>
</html>
