.splash-screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #fff;
}

menu {
	margin: 0 !important;
	padding: 0 !important;

	.navbar-collapse {
		padding:  0 !important;
	}

	h3 {
		margin-top: 10px;
		color: #fff;
	}
}

.wrapper {
	margin-top: 60px;
	margin-bottom: 60px;
}

.sign-in {
	margin: 200px auto 0;
	padding: 20px;
	width: 400px;
	border: 2px solid #000;
}

.inline {
	margin-bottom: 29px;

	& > div {
		display: inline-block;
		width: auto;
		margin-left: 5px;
	}
}

.author {
	color: #A23939;
}

.answers {
	margin-top: 30px;
}

.answer {
	margin-top: 30px;
}

.add-answer {
	margin-top: 40px
}

.table {
	table-layout: fixed;

	th:nth-of-type(2),
	td:nth-of-type(2) {
		width: 200px;
	}

	th:nth-of-type(3),
	td:nth-of-type(3) {
		width: 150px;
	}

	th:nth-of-type(4),
	td:nth-of-type(4) {
		width: 100px;
	}
}