<div class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-collapse collapse" id="navbar">
            <div class="row">
                <div class="col-xs-4">
                    <h3>Почти StackOverflow -_-</h3>
                </div>
                <div class="col-xs-8">
                    <ul class="nav navbar-nav">
                        <li>
                            <a ng-href="/" url="/" active-link>Вопросы</a>
                        </li>
                        <li>
                            <a ng-href="/new-question" url="/new-question" active-link>+ Задать вопрос</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
