menu,menu .navbar-collapse{padding:0!important}
.splash-screen{position:absolute;width:100%;height:100%;background:#fff}
menu{margin:0!important}
menu h3{margin-top:10px;color:#fff}
.wrapper{margin-top:60px;margin-bottom:60px}
.sign-in{margin:200px auto 0;padding:20px;width:400px;border:2px solid #000}
.inline{margin-bottom:29px}
.inline>div{display:inline-block;width:auto;margin-left:5px}
.author{color:#A23939}
.answer,.answers{margin-top:30px}
.add-answer{margin-top:40px}
.table{table-layout:fixed}
.table td:nth-of-type(2),.table th:nth-of-type(2){width:200px}
.table td:nth-of-type(3),.table th:nth-of-type(3){width:150px}
.table td:nth-of-type(4),.table th:nth-of-type(4){width:100px}