<div class="container">
	<h1>Задать вопрос</h1>
	<form class="new-question" name="newQuestionForm" novalidate>
		<br>
		<div class="row">
			<div class="col-xs-2">
				<div class="form-group">
				    <input type="text" class="form-control" placeholder="{{data.author}}" value="{{data.author}}" disabled>
				 </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<div class="form-group">
				    <input type="text" class="form-control" ng-model="data.title" placeholder="Краткое содержание" required>
				 </div>
				<textarea class="form-control" rows="5" ng-model="data.description" placeholder="Текст вопроса" required></textarea>
			</div>	
		</div>
		<br><br>
		<button class="btn btn-default" ng-disabled="newQuestionForm.$invalid" ng-click="postNewQuestion(data)">Задать вопрос</button>
	</form>
</div>