<div class="container">
	<h1>Вопросы</h1>
	<form class="inline">
		<div>
			<div class="radio">
			  <label>
			    <input type="radio" ng-model="questionFilterRadio" name="optionsRadios" ng-value="0" ng-change="getQuestions('all')">
			    все
			  </label>
			</div>
		</div>
		<div>
			<div class="radio">
			  <label>
			    <input type="radio" ng-model="questionFilterRadio" name="optionsRadios" ng-value="1" ng-change="getQuestions('without')">
			    без ответов
			  </label>
			</div>
		</div>
		<div>	
			<div class="radio">
			  <label>
			    <input type="radio" ng-model="questionFilterRadio" name="optionsRadios" ng-value="2" ng-change="getQuestions('with')">
			    с ответами
			  </label>
			</div>
		</div>
	</form>

	<table class="table">
		<thead>
			<tr>
				<th>Краткое содержание</th>
				<th>Автор</th>
				<th>Кол-во ответов</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="question in questions">
				<td>{{question.title}}</td>
				<td>{{question.author}}</td>
				<td>{{question.answers | keylength}}</td>
				<td><a ng-href="/question/{{question.id}}">смотреть</a></td>
			</tr>
		</tbody>
	</table>
</div>