<div class="container">
	<a ng-href="/">Назад</a>
	<br>
	<h1>{{question.title}}</h1>
	<h4>{{question.description}}</h4>
	<div class="author">{{question.author}}</div>
	<hr>
	<div class="answers">
		<h2>Ответы ({{questionLength}})</h2>
		<div ng-if="questionLength">
			<div class="answer" ng-repeat="answer in question.answers">
				<h4>{{answer.message}}</h4>
				<div class="author">{{answer.author}}</div>
			</div>
		</div>
	</div>
	<hr>
	<form class="add-answer" name="addAnswerForm" novalidate>
		<div class="row">
			<div class="col-xs-2">
				<div class="form-group">
				    <input type="text" class="form-control" placeholder="{{data.author}}" value="{{data.author}}" disabled>
				 </div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<textarea class="form-control" rows="5" ng-model="data.message" placeholder="Текст ответа" required></textarea>
			</div>	
		</div>
		<br><br>
		<button class="btn btn-default" ng-disabled="addAnswerForm.$invalid" ng-click="postNewAnswer(data)">Добавить ответ</button>
	</form>
</div>